@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: rgb(255, 255, 255);
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('/bg2.jpg');
    background-size: cover;
    background-position: cover;
}

.box{
  width: 70px;
  height: 70px;
  background-color: #C8F9FF;
  color: black;
  font-weight: bold;
  font-size: "30px";
  justify-content: center;
  align-items: center;
  border: 1px solid #D80032;
  border-radius: 5px;
}