@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --background-start-rgb: rgb(255, 255, 255);
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box{
  width: 70px;
  height: 70px;
  background-color: #3498db;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: 2px solid #2980b9;
  border-radius: 5px;
}